In [1]:
import pandas as pd

# Reading Files

In [52]:
# Reading the excel file
df = pd.read_excel('campaign_perf.xlsx')

In [53]:
# Transforming it to CSV
df1 = df.to_csv('campaign_perf.csv')

In [55]:
# Reading the CSV file
df1 = pd.read_csv(r"campaign_perf.csv")
df1.head()

,Unnamed: 0,Campaign name,Day,Platform,Reach,Impressions,Amount Spent (USD),Link clicks,Unique Registrations,Unique Purchases
0,0,KSA_OCT2020_Whatsapp,2020-11-03,facebook,26665,27322,9.7,13,0,0
1,1,KSA_OCT2020_Whatsapp,2020-11-03,facebook,22387,22944,9.0,7,0,1
2,2,KSA_OCT2020_Whatsapp,2020-11-03,instagram,5278,5278,1.8,2,0,1
3,3,KSA_OCT2020_Whatsapp,2020-11-03,instagram,2925,2943,1.2,0,0,1
4,4,KSA_OCT2020_Whatsapp,2020-11-02,facebook,60735,64444,20.1,31,0,1

In [57]:
# Using the df - from excel - to get the campaigns that got 0 purchases per day
purch = df[df['Unique Purchases']==0]
purch.head()

,Campaign name,Day,Platform,Reach,Impressions,Amount Spent (USD),Link clicks,Unique Registrations,Unique Purchases
0,KSA_OCT2020_Whatsapp,2020-11-03,facebook,26665,27322,9.7,13,0,0
6,KSA_OCT2020_Whatsapp,2020-11-02,instagram,10139,10139,3.4,6,0,0
8,KSA_OCT2020_Whatsapp,2020-11-01,facebook,70496,71632,19.7,31,0,0
10,KSA_OCT2020_Whatsapp,2020-11-01,instagram,13072,14317,3.9,18,0,0
14,KSA_OCT2020_Whatsapp,2020-10-31,facebook,79536,80688,21.3,25,0,0

In [6]:
# Showing the data for messenger and audience network platforms
specific_channels = ['messenger', 'audience_network']

df[df['Platform'].isin(specific_channels)]

,Campaign name,Day,Platform,Reach,Impressions,Amount Spent (USD),Link clicks,Unique Registrations,Unique Purchases
44,KSA_May2020_Conversion,2020-10-28,audience_network,488,739,1.5,18,0,0
47,KSA_May2020_Conversion,2020-10-28,audience_network,306,410,0.6,13,0,0
48,UAE_July2020_Conversion,2020-10-28,audience_network,330,463,0.5,12,0,0
51,UAE_July2020_Conversion,2020-10-28,audience_network,188,261,0.8,4,0,0
56,KSA_May2020_Conversion,2020-10-28,messenger,15,15,0.1,0,0,1
...,...,...,...,...,...,...,...,...,...
2470,KSA_May2020_Reach,2020-05-31,messenger,769,769,0.0,0,0,1
2473,KSA_May2020_Reach,2020-05-30,messenger,256,562,0.0,1,0,0
2476,KSA_May2020_Reach,2020-05-29,messenger,669,669,0.0,2,0,0
2479,KSA_May2020_Reach,2020-05-28,audience_network,0,27,0.0,0,0,0
2482,KSA_May2020_Reach,2020-05-27,audience_network,0,10,0.0,0,0,0

In [58]:
# Showing the conversion campaigns only
conv = df[df["Campaign name"].str.contains('Conversion')]
conv.head()

,Campaign name,Day,Platform,Reach,Impressions,Amount Spent (USD),Link clicks,Unique Registrations,Unique Purchases
36,KSA_May2020_Conversion,2020-10-28,facebook,27600,28850,17.0,90,1,0
37,KSA_May2020_Conversion,2020-10-28,facebook,6714,7911,8.7,38,1,1
39,KSA_May2020_Conversion,2020-10-28,instagram,3696,4030,11.0,6,1,0
41,UAE_July2020_Conversion,2020-10-28,facebook,9156,10089,18.3,58,0,0
43,UAE_July2020_Conversion,2020-10-28,facebook,4730,5871,9.8,26,0,0

# Indexing

In [59]:
# Setting the campaign name as the index
df2 = df.set_index('Campaign name')
df2.head()

,Day,Platform,Reach,Impressions,Amount Spent (USD),Link clicks,Unique Registrations,Unique Purchases
Campaign name,,,,,,,,
KSA_OCT2020_Whatsapp,2020-11-03,facebook,26665,27322,9.7,13,0,0
KSA_OCT2020_Whatsapp,2020-11-03,facebook,22387,22944,9.0,7,0,1
KSA_OCT2020_Whatsapp,2020-11-03,instagram,5278,5278,1.8,2,0,1
KSA_OCT2020_Whatsapp,2020-11-03,instagram,2925,2943,1.2,0,0,1
KSA_OCT2020_Whatsapp,2020-11-02,facebook,60735,64444,20.1,31,0,1

In [60]:
# showing the unique purchases, and day columns
columns_choice = df2.filter(items = ['Day', 'Unique Purchases'])
columns_choice.head()

                            Day  Unique Purchases
Campaign name
KSA_OCT2020_Whatsapp 2020-11-03                 0
KSA_OCT2020_Whatsapp 2020-11-03                 1
KSA_OCT2020_Whatsapp 2020-11-03                 1
KSA_OCT2020_Whatsapp 2020-11-03                 1
KSA_OCT2020_Whatsapp 2020-11-02                 1

In [61]:
# showing data for the KSA campaigns
ksa_camp = df2.filter(like = 'KSA', axis =0)
ksa_camp.head()

,Day,Platform,Reach,Impressions,Amount Spent (USD),Link clicks,Unique Registrations,Unique Purchases
Campaign name,,,,,,,,
KSA_OCT2020_Whatsapp,2020-11-03,facebook,26665,27322,9.7,13,0,0
KSA_OCT2020_Whatsapp,2020-11-03,facebook,22387,22944,9.0,7,0,1
KSA_OCT2020_Whatsapp,2020-11-03,instagram,5278,5278,1.8,2,0,1
KSA_OCT2020_Whatsapp,2020-11-03,instagram,2925,2943,1.2,0,0,1
KSA_OCT2020_Whatsapp,2020-11-02,facebook,60735,64444,20.1,31,0,1

In [63]:
# showing data for a specific campaign
ksa_wa = df2.loc['KSA_OCT2020_Whatsapp']
ksa_wa.head()

,Day,Platform,Reach,Impressions,Amount Spent (USD),Link clicks,Unique Registrations,Unique Purchases
Campaign name,,,,,,,,
KSA_OCT2020_Whatsapp,2020-11-03,facebook,26665,27322,9.7,13,0,0
KSA_OCT2020_Whatsapp,2020-11-03,facebook,22387,22944,9.0,7,0,1
KSA_OCT2020_Whatsapp,2020-11-03,instagram,5278,5278,1.8,2,0,1
KSA_OCT2020_Whatsapp,2020-11-03,instagram,2925,2943,1.2,0,0,1
KSA_OCT2020_Whatsapp,2020-11-02,facebook,60735,64444,20.1,31,0,1

In [64]:
# showing data for the second row
df2.iloc[2]

Day                     2020-11-03 00:00:00
Platform                          instagram
Reach                                  5278
Impressions                            5278
Amount Spent (USD)                      1.8
Link clicks                               2
Unique Registrations                      0
Unique Purchases                          1
Name: KSA_OCT2020_Whatsapp, dtype: object

In [66]:
# sort and order the rows based on reach and impressions - it will sort based on the order of importance
sorted_df2 = df2.sort_values(by=['Reach','Impressions'],ascending = [False, True])
sorted_df2.head()

,Day,Platform,Reach,Impressions,Amount Spent (USD),Link clicks,Unique Registrations,Unique Purchases
Campaign name,,,,,,,,
KSA_May2020_Conversion,2020-08-05,instagram,284224,291105,84.5,880,73,1
KSA_May2020_Reach,2020-05-29,facebook,282039,282039,7.6,395,0,1
KSA_May2020_Reach,2020-05-28,facebook,266370,274008,6.5,319,0,0
KSA_May2020_Conversion,2020-08-11,instagram,246592,251519,100.1,758,55,0
KSA_May2020_Reach,2020-05-30,facebook,245210,245210,7.3,301,0,1

In [67]:
# resetting the index
df2.reset_index(drop=True, inplace=True)
df2.head()

,Day,Platform,Reach,Impressions,Amount Spent (USD),Link clicks,Unique Registrations,Unique Purchases
0,2020-11-03,facebook,26665,27322,9.7,13,0,0
1,2020-11-03,facebook,22387,22944,9.0,7,0,1
2,2020-11-03,instagram,5278,5278,1.8,2,0,1
3,2020-11-03,instagram,2925,2943,1.2,0,0,1
4,2020-11-02,facebook,60735,64444,20.1,31,0,1

In [49]:
# setting the index to campaign name and platform
# df2.set_index(['Campaign name','Platform'], inplace = True)
# df2

In [ ]:
# removing the level_0 and index columns that came after resetting the index
# df2.drop(['level_0','index'], axis=1, inplace=True)

In [ ]:
# To display all columns
# pd.set_option('display.max_rows', None)
# df2

In [ ]:
# sorting the index alphabetically 
df2.sort_index(ascending=False)
pd.set_option('display.max.rows', 25)
df2

In [ ]:
# specific campaign data
df2.loc['KSA_May2020_Reach']

In [ ]:
# iloc will pull up the campaign data before the indexing
df2.iloc[1]

# Group By and Aggregate Functions

In [32]:
# getting the results by day
group_by_date = df2.groupby('Day')
group_by_date.head()

,Day,Platform,Reach,Impressions,Amount Spent (USD),Link clicks,Unique Registrations,Unique Purchases
0,2020-11-03,facebook,26665,27322,9.7,13,0,0
1,2020-11-03,facebook,22387,22944,9.0,7,0,1
2,2020-11-03,instagram,5278,5278,1.8,2,0,1
3,2020-11-03,instagram,2925,2943,1.2,0,0,1
4,2020-11-02,facebook,60735,64444,20.1,31,0,1
...,...,...,...,...,...,...,...,...
2478,2020-05-28,instagram,184725,184725,3.9,74,0,0
2479,2020-05-28,audience_network,0,27,0.0,0,0,0
2480,2020-05-27,facebook,145439,146884,2.5,224,0,1
2481,2020-05-27,instagram,44960,45387,0.8,29,0,1
2482,2020-05-27,audience_network,0,10,0.0,0,0,0

In [29]:
# average results by day
average_results = group_by_date.mean()
average_results.head()

,Reach,Impressions,Amount Spent (USD),Link clicks,Unique Registrations,Unique Purchases
Day,,,,,,
2020-05-27,63466.333333,64093.666667,1.100000,84.333333,0.0,0.666667
2020-05-28,150365.000000,152920.000000,3.466667,131.000000,0.0,0.000000
2020-05-29,141435.000000,141435.000000,3.733333,150.000000,0.0,0.666667
2020-05-30,131444.333333,131546.333333,3.766667,124.000000,0.0,0.666667
2020-05-31,117326.666667,118115.666667,3.933333,130.666667,0.0,0.666667

In [28]:
# counting the rows that were aggregated 
counting_rows = df2.groupby('Day').count()
counting_rows.head()

,Platform,Reach,Impressions,Amount Spent (USD),Link clicks,Unique Registrations,Unique Purchases
Day,,,,,,,
2020-05-27,3,3,3,3,3,3,3
2020-05-28,3,3,3,3,3,3,3
2020-05-29,3,3,3,3,3,3,3
2020-05-30,3,3,3,3,3,3,3
2020-05-31,3,3,3,3,3,3,3

In [27]:
# highest results per day and platform 
highest_results = df2.groupby(['Day', 'Platform']).max()
highest_results.head()

# if we don't add the platform, it will add the platform based on alphabetical hierarchy
# we can use the same thing for minimum results - .min -

                              Reach  Impressions  Amount Spent (USD)  \
Day        Platform
2020-05-27 audience_network       0           10                 0.0
           facebook          145439       146884                 2.5
           instagram          44960        45387                 0.8
2020-05-28 audience_network       0           27                 0.0
           facebook          266370       274008                 6.5

                             Link clicks  Unique Registrations  \
Day        Platform
2020-05-27 audience_network            0                     0
           facebook                  224                     0
           instagram                  29                     0
2020-05-28 audience_network            0                     0
           facebook                  319                     0

                             Unique Purchases
Day        Platform
2020-05-27 audience_network                 0
           facebook                         1
           instagram                        1
2020-05-28 audience_network                 0
           facebook                         0

In [26]:
# total values per day
total_values = df2.groupby('Day').sum()
total_values.head()

,Reach,Impressions,Amount Spent (USD),Link clicks,Unique Registrations,Unique Purchases
Day,,,,,,
2020-05-27,190399,192281,3.3,253,0,2
2020-05-28,451095,458760,10.4,393,0,0
2020-05-29,424305,424305,11.2,450,0,2
2020-05-30,394333,394639,11.3,372,0,2
2020-05-31,351980,354347,11.8,392,0,2

In [42]:
# calculating the max and total amount spent, and Unique Purchases per day and platform
agg_f = df2.groupby(['Day','Platform']).agg({'Amount Spent (USD)': ['max', 'sum'], 'Unique Purchases': ['max', 'sum']})
agg_f.head()

                            Amount Spent (USD)      Unique Purchases
                                           max  sum              max sum
Day        Platform
2020-05-27 audience_network                0.0  0.0                0   0
           facebook                        2.5  2.5                1   1
           instagram                       0.8  0.8                1   1
2020-05-28 audience_network                0.0  0.0                0   0
           facebook                        6.5  6.5                0   0

In [48]:
# we can also use describe for high level overview of the aggregations
general_ov = df2.groupby('Day').describe()
general_ov.head()

           Reach                                                          \
           count           mean            std    min      25%       50%
Day
2020-05-27   3.0   63466.333333   74464.682638    0.0  22480.0   44960.0
2020-05-28   3.0  150365.000000  136468.682946    0.0  92362.5  184725.0
2020-05-29   3.0  141435.000000  140685.069954  669.0  71133.0  141597.0
2020-05-30   3.0  131444.333333  123402.907236  256.0  74561.5  148867.0
2020-05-31   3.0  117326.666667  114279.550884  769.0  61398.5  122028.0

                               Impressions                 ...  \
                 75%       max       count           mean  ...
Day                                                        ...
2020-05-27   95199.5  145439.0         3.0   64093.666667  ...
2020-05-28  225547.5  266370.0         3.0  152920.000000  ...
2020-05-29  211818.0  282039.0         3.0  141435.000000  ...
2020-05-30  197038.5  245210.0         3.0  131546.333333  ...
2020-05-31  175605.5  229183.0         3.0  118115.666667  ...

           Unique Registrations      Unique Purchases                          \
                            75%  max            count      mean      std  min
Day
2020-05-27                  0.0  0.0              3.0  0.666667  0.57735  0.0
2020-05-28                  0.0  0.0              3.0  0.000000  0.00000  0.0
2020-05-29                  0.0  0.0              3.0  0.666667  0.57735  0.0
2020-05-30                  0.0  0.0              3.0  0.666667  0.57735  0.0
2020-05-31                  0.0  0.0              3.0  0.666667  0.57735  0.0


            25%  50%  75%  max
Day
2020-05-27  0.5  1.0  1.0  1.0
2020-05-28  0.0  0.0  0.0  0.0
2020-05-29  0.5  1.0  1.0  1.0
2020-05-30  0.5  1.0  1.0  1.0
2020-05-31  0.5  1.0  1.0  1.0

[5 rows x 48 columns]